<%- include('partials/header') -%>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form method="POST" action="/cpass" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Change Password
					</span>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Current Password</span>
						<input class="input100" type="password" name="cur_pass" placeholder="Type your current password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required" style="margin: 10% auto;">
						<span class="label-input100">New Password</span>
						<input class="input100" type="password" name="new_pass" placeholder="Type your new password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit" name="submit" value="Login">
								Submit
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<%- include('partials/footer') -%>