<!-- heading and navigation bar  -->
<%- include("navigation") -%>

<section>
    <form action="/">

        <span><strong>First Name : </strong></span>
        <input type="text" disabled value="wcespace"> <br>

        <span><strong>Last Name : </strong></span>
        <input type="text" disabled value="wcespace"> <br>

        <span><strong>Email id  : </strong></span>
        <input type="text" disabled value="wcespace@gmail.com"> <br>

        <span><strong>Branch - </strong></span>
        <select name="" id="">
            <option value="">CSE</option>
            <option value="">IT</option>
            <option value="">Civil</option>
            <option value="">Mechanical</option>
            <option value="">Electrical</option>
            <option value="">Electronics</option>
        </select> <br>

        <span><strong> Upload Note </strong></span>
        <input type="file" name="" id="" required> <br>

        <span><strong> Upload Image of Book (if you have) </strong></span>
        <input type="file" name="" id="" required> <br>

        <span><strong> Book / Note Name </strong></span>
        <input type="text" value="" required> <br>

        <span><strong> Book / Note Author </strong></span>
        <input type="text" value="" required> <br>

        <span><strong> Subject </strong></span>
        <input type="text" value="" required> <br>

        <span><strong> Semester </strong></span>
        <select name="" id="">
            <option value="">Choose</option>
            <option value="">I</option>
            <option value="">II</option>
            <option value="">III</option>
            <option value="">IV</option>
            <option value="">V</option>
            <option value="">VI</option>
            <option value="">VII</option>
            <option value="">VIII</option>
        </select> <br>

        <button type="submit">Submit</button>
    </form>

    
</section>

<!-- footer  -->
<%- include("footer")-%>