<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>It's a <%= kindofday %> </h1>
    </div>
    <div class="box" id="heading">
        <h1>ERROR !!!</h1>
        
    </div>
    <div class="box">
        
        <div class="item">
            <p> <%= newListItem %> </p>
        </div>
    </div>
    <div class="box">
        <div class="item">
            <p><h3>Please Contact Us Or send Email Us  <a href="mailto:wcespace1947@gmail.com" >wcespace1947@gmail.com</a> </h3></p>
        </div>    
    </div>

    <div class="box" id="heading">
        <h1> <a href="/" style="text-decoration: none;"> Visit Home Page </a></h1>    
    </div>

</body>
</html>